
.login{
	display: grid;
	place-items: center;
	height: 100vh;
	background: #000;
	color: #fff;
}

.login > img{
	width: 50%;
}

.login > a{
	padding: 20px 30px;
	border-radius: 100px;
	background: #1db954;
	/* font-weight: 800; */
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
